<div class="admin-page">
    <p-card [header]="editMode ? 'Edit User': 'Add User'" subheader="You can add or edit a user here"></p-card>
    <div class="grid mb-4">
       <div class="col-12">
          <p-toolbar>
            <div class="p-toolbar-group-start"></div>
            <div class="p-toolbar-group-end">
              <p-button styleClass="p-button-primary mr-4" [label]="editMode ? 'Save' : 'Create'" icon="pi pi-plus" (click)="onSubmit()" [disabled]="form.invalid"></p-button>
              <p-button styleClass="p-button-danger" label="Cancel" icon="pi pi-arrow-circle-left"></p-button>
            </div>
          </p-toolbar>
       </div>
    </div>
    <div class="grid">
        <div class="col-12">
            <form [formGroup]="form">
                <div class="formgrid grid p-fluid">
                    <div class="field col-4">
                        <label for="name">Name</label>
                        <input formControlName="name" id="name" type="text" pInputText>
                        <small *ngIf="userForm['name'].invalid && userForm['name'].touched" class="p-error">Name is required</small>
                    </div>
                    <div class="field col-4">
                        <label for="icon">Email</label>
                        <input formControlName="email" id="email" type="text" pInputText>
                        <small *ngIf="userForm['email'].invalid && userForm['email'].touched" class="p-error">Email is invalid</small>
                    </div>
                    <div class="field col-4">
                        <label for="password">Password</label>
                        <p-password formControlName="password" id="password" type="text"> </p-password>
                        <small *ngIf="userForm['password'].invalid && userForm['password'].touched" class="p-error">Name is required</small>
                    </div>
                    <div class="col-4 field">
                        <label for="phone">Phone</label>
                        <p-inputNumber mode="decimal" inputId="phone" formControlName="phone"> </p-inputNumber>
                        <small *ngIf="userForm['phone'].invalid && userForm['phone'].touched" class="p-error">Phone is required</small>
                    </div>
                </div>
                 <div class="grid formgrid p-fluid">
                    <div class="field col-4">
                        <label for="icon">Street</label>
                        <input formControlName="street" id="street" type="text" pInputText>
                        <small *ngIf="userForm['street'].invalid && userForm['street'].touched" class="p-error">Street is required</small>
                    </div>
                    <div class="field col-4">
                        <label for="icon">City</label>
                        <input formControlName="city" id="city" type="text" pInputText>
                        <small *ngIf="userForm['city'].invalid && userForm['city'].touched" class="p-error">City is required</small>
                    </div>
                    <div class="field col-4">
                        <label for="country">Country</label>
                        <p-dropdown [options]="countries" formControlName="country" optionLabel="name" optionValue="id" [showClear]="true" [filter]="true" filterBy="name" [showClear]="true" placeholder="Select a country"></p-dropdown>
                        <small *ngIf="userForm['country'].invalid && form.controls['country'].touched" class="p-error">Category is required</small>
                    </div>
                    <div class="col-4 field">
                        <label for="apartment">Apartment</label>
                        <p-inputNumber mode="decimal" inputId="apartment" formControlName="apartment" [useGrouping]="false"> </p-inputNumber>
                        <small *ngIf="userForm['apartment'].invalid && userForm['apartment'].touched" class="p-error">Count in stock is required</small>
                    </div>
                    <div class="col-4 field">
                        <label for="isFeatured">Is Admin</label>
                        <p-inputSwitch formControlName="isAdmin"></p-inputSwitch>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
