body, .p-component {
      font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}

a {
    text-decoration: none;
}

ul {
    @include reset-list;
}
